/* .container {
    background-color: gray;
    height: 100vh;
} */

.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
}

.rowSection {
    height: 45px;
    display: flex;
    flex-wrap: inherit;
}

.iconLeft {
    margin-left: 16px;
}

.accordion-body {
    max-height: 700px;
}

.card-body {
    padding: 8px 16px !important;
}



.page-header {
    height: 45px;
    background-color: gray;
    display: flex;
    margin-bottom: 16px;
}

.body {
    padding: 0 16px;
}